<div class="card" >
    <div class="card-body">
        <h4 class="card-title">List Tasks</h4>
        <br>
        <!-- <div class="card-body"> -->
    <!-- <h2 class="card-title">List Roles</h2> -->
    <!-- </div> -->
<!-- <br> -->
<!-- <h2>List Roles</h2> -->
<div class="col-12">
<div class="table-responsive mt">
    <table class="table table-bordered table-responsive-lg">
        <thead>
            <tr>
                <th>Index</th>
                <th>Project Name</th>
                <th>Moduel Name</th>
                <th>Task Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Estimate Hours</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let task of tasks, let i = index">
            <td>{{i+1}}</td>
            <td>{{task.projectId.projectTitle}}</td>
            <td>{{task.moduleId.moduleName}}</td>
            <td>{{task.taskName}}</td>
            <td>{{task.description}}</td>
            <td>{{task.priorityId.priorityName}}</td>
            <td>{{task.totalTime}}</td>
            <td>
                <button type="button" (click)="editTask(task._id)" class="btn btn-outline-success btn-rounded waves-effect">Edit Project</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <button (click)="editProject(project._id)">Edit</button> -->
                <button type="button" (click)="deleteTask(task._id)" class="btn btn-outline-danger btn-rounded waves-effect">Delete Project</button>
                <!-- <button (click)="deleteProject(project._id)">Delete</button> -->
            </td>
            <td>{{task.statusId.statusName}}</td>
        </tr>
    </tbody>
    </table>
</div>
</div>
</div>
</div>
