<div class="preloader" style="display: none;">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
    <app-project-manager-header></app-project-manager-header>   
     <app-project-manager-slidebar></app-project-manager-slidebar>
            <router-outlet></router-outlet>    
</div>