<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-footer-position="fixed" data-boxed-layout="full">
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
            <!-- ============================================================== -->
            <aside class="left-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar scroll-->
                <div class="scroll-sidebar ps-container ps-theme-default ps-active-y" data-sidebarbg="skin6" data-ps-id="e2387d54-f1df-d850-66d5-3759e3140976">
                    <!-- Sidebar navigation-->
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav" class="in">
                            <li class="sidebar-item selected"> <a class="sidebar-link sidebar-link active" routerLink="/project-manager/project-manager-dashboard" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home feather-icon"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg><span class="hide-menu">Dashboard</span></a></li>
    
                            <li class="list-divider"></li>
                            <li class="nav-small-cap"><span class="hide-menu">Components</span></li>
                            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid feather-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg><span class="hide-menu"> Users </span></a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item"><a routerLink="/project-manager/add-users" class="sidebar-link"><span class="hide-menu"> Add Developer/Tester
                                            </span></a>
                                    </li>
                                    <li class="sidebar-item"><a routerLink="/project-manager/list-users" class="sidebar-link"><span class="hide-menu"> User List
                                            </span></a>
                                    </li>
                                    </ul>
                            </li>
                            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid feather-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg><span class="hide-menu"> Projects </span></a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item"><a routerLink="/project-manager/list-projects" class="sidebar-link"><span class="hide-menu"> Projects List
                                            </span></a>
                                    </li>
                                    <li class="sidebar-item"><a routerLink="/project-manager/pending-projects" class="sidebar-link"><span class="hide-menu">
                                                Pending Projects
                                            </span></a>
                                    </li>
                                    <li class="sidebar-item"><a routerLink="/project-manager/completed-projects" class="sidebar-link"><span class="hide-menu">
                                               Completed Projects
                                            </span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid feather-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg><span class="hide-menu"> Modules </span></a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item"><a routerLink="/project-manager/add-modules" class="sidebar-link"><span class="hide-menu"> Add Modules
                                            </span></a>
                                    </li>
                                    <li class="sidebar-item"><a routerLink="/project-manager/list-modules" class="sidebar-link"><span class="hide-menu"> Modules List 
                                            </span></a>
                                    </li>
                                    </ul>
                            </li>

                            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid feather-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg><span class="hide-menu"> Tasks </span></a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item"><a routerLink="/project-manager/add-tasks" class="sidebar-link"><span class="hide-menu"> Add Tasks
                                            </span></a>
                                    </li>
                                    <li class="sidebar-item"><a routerLink="/project-manager/list-tasks" class="sidebar-link"><span class="hide-menu"> Tasks List 
                                            </span></a>
                                    </li>
                                    </ul>
                            </li>
                            
                            
                            <li class="sidebar-item"> <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid feather-icon"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg><span class="hide-menu"> Reports </span></a>
                                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                            
                                            <li class="sidebar-item"><a routerLink="/project-manager/modules-report" class="sidebar-link"><span class="hide-menu"> Module Reports
                                                    </span></a>
                                            </li>
                                            <li class="sidebar-item"><a routerLink="/project-manager/tasks-report" class="sidebar-link"><span class="hide-menu"> Tasks Reports
                                                    </span></a>
                                            
                                    </ul>
                            </li>
    
                            
                        </ul>
                    </nav>
                    <!-- End Sidebar navigation -->
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -178px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 178px; height: 388px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 65px; height: 142px;"></div></div></div>
                <!-- End Sidebar scroll-->
            </aside>
            <!-- ============================================================== -->
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        </div>