<div class="page-wrapper" style="display: block;">
<div class="card" >
    <div class="card-body">
        <h4 class="card-title">Change Password</h4>
        <h6 class="card-subtitle"><code></code></h6>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="cps" placeholder="Current Password"><br>
                <input type="password" class="form-control" [(ngModel)]="nps" placeholder="New Password"><br>
                <input type="password" class="form-control" [(ngModel)]="cnps" placeholder="Confirm New Password"><br>
                <button type="button" (click)="updatePassword()" class="btn btn-primary btn-rounded waves-effect waves-light">Update Password</button>
            </div>
    </div>
    </div>
</div>