<div class="card" >
    <div class="card-body">
        <h4 class="card-title">Completed Projects</h4>
        <br>
        <!-- <div class="card-body"> -->
    <!-- <h2 class="card-title">List Roles</h2> -->
    <!-- </div> -->
<!-- <br> -->
<!-- <h2>List Roles</h2> -->
<div class="col-12">
<div class="table-responsive mt">
    <table class="table table-bordered table-responsive-lg">
        <thead>
            <tr>
                <td>Project Name</td>
                <td>Project Manager</td>
                <td>Description</td>
                <td>Technology</td>
                <td>Start Date</td>
                <td>Estimated Hours</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{project.projectTitle}}</td>
                <td>{{project.projectManagerID.firstName}}</td>
                <td>{{project.description}}</td>
                <td>{{project.technology}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.estimatedHours}}</td>
                <td>{{project.statusId.statusName}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
