<div class="page-wrapper" style="display: block;">
<div class="card" >
    <div class="card-body">
        <h4 class="card-title">List Users</h4>
        <br>
        <!-- <div class="card-body"> -->
    <!-- <h2 class="card-title">List Roles</h2> -->
    <!-- </div> -->
<!-- <br> -->
<!-- <h2>List Roles</h2> -->
<div class="col-12">
<div class="table-responsive mt">
    <table class="table table-bordered table-responsive-lg">
        <thead>
            <tr>
                <th>Index</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Contact</th>
                <th>Role</th>
                <!--<th>Status</th>-->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users, let i = index">
            <td >{{i+1}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.contactNumber}}</td>
            <td>{{user.role.roleName}}</td>
            <!-- <td>{{user.status}}</td> -->
            <td>
                <button type="button" (click)="disableUser(user._id)" class="btn btn-outline-success btn-rounded waves-effect">Disable User</button> 
                <!-- <button type="button" (click)="disableUser(user._id)" class="btn btn-primary btn-rounded waves-effect waves-light">Disable User</button>  -->
                <!-- <button type="button"  class="btn btn-primary btn-rounded waves-effect waves-light">Delete</button> -->
                <button type="button" (click)="deleteUser(user._id)" class="btn btn-outline-danger btn-rounded waves-effect">Delete User</button>
            </td>
            <!-- <td><button (click)="editRole(role._id)">Edit</button><button (click)="deleteRole(role._id)">Delete</button></td> -->
            <!-- <td>{{role.isActive}}</td> -->
            
            <!-- <td>Active</td> -->
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>