<h2>Sign up</h2>
First Name : <input  type="text" placeholder="First Name" [(ngModel)]="firstName"/><br><br>
Email : <input type="email" placeholder="Email" [(ngModel)]="email" /><br><br>
Role : <select [(ngModel)]="role" placeholder="Role">
    <option value="62473b64ff3a1f2757fd9ce3">Developer</option>
    <option value="624bc4f7c9105fb13a944f23">Tester</option>
</select><br><br>
<label  >Gender : &nbsp;
    <input type="radio"  [(ngModel)]="gender" value="Male" required>&nbsp;Male
    &nbsp;
    <input type="radio"  [(ngModel)]="gender" value="Female" required>&nbsp;Female
</label><br><br>
Contact no : <input [(ngModel)]="contactNumber" placeholder="Contact Number" /><br><br>
Password : <input class="form-control" type="password" placeholder="Password" [(ngModel)]="password"><br><br>
<button type="submit" (click)="adduser()" >Sign Up</button><br><br>
Already a user ? <a routerLink="/login" class="text-danger">Login</a>