Add Roles : <button type="button" (click)="AD()" >Add Role</button><br>
List Roles : <button type="button" (click)="BD()" >List Role</button><br>


Add Users : <button type="button" (click)="CD()" >Add Users</button><br>
List User : <button type="button" (click)="DD()" >List Users</button><br>


Add Projects : <button type="button" (click)="ED()" >Add Projects</button><br>
List Projects : <button type="button" (click)="FD()" >List Projects</button><br>
Pending Projects : <button type="button" (click)="GD()" >Pending Projects</button><br>
Completd Projects : <button type="button" (click)="HD()" >Completd Projects</button><br>


Add Projects Teams : <button type="button" (click)="ID()" >Add Projects Teams</button><br>
List Projects Teams : <button type="button" (click)="JD()" >List Projects Teams</button><br>


Add Modules : <button type="button" (click)="KD()" >Add Modules</button><br>
List Modules : <button type="button" (click)="LD()" >List Modules</button><br>


Add Task : <button type="button" (click)="MD()" >Add Task</button><br>
List Task : <button type="button" (click)="ND()" >List Task</button><br>


List Users : <button type="button" (click)="OD()" >List Users</button><br>
Pending Approvals : <button type="button" (click)="PD()" >Pending Approvals</button><br>
