<div class="page-wrapper" style="display: block;">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Edit Module</h4><br>
        <h6 class="card-subtitle"></h6>
        <div class="form-group">
            <input type="text" class="form-control" value="{{projectTitle}}" readonly ><br>
            <input type="text" class="form-control" [(ngModel)]="moduleName"><br>
            <textarea type="text" class="form-control" [(ngModel)]="description" ></textarea><br>
            <select class="form-control" [(ngModel)]="priorityId" >
                <option *ngFor="let p of priority" value="{{p._id}}"> {{p.priorityName}}
                </option>
            </select><br>
            <input type="text" class="form-control" [(ngModel)]="estimatedTime" ><br>

            <button type="button" (click)="updateModule()"
                class="btn btn-primary btn-rounded waves-effect waves-light">update Module</button>
        </div>
    </div>
</div>
</div>